<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> <%= loginMessage %> </title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        input[type=text],input[type=password], select, textarea {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        
        input[type=submit] {
          background-color: #4CAF50;
          color: white;
          padding: 12px 20px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          float: right;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        .container {
          padding: 20px;
          width: 500px;
          float: center;
          margin: 0 auto;
        }
        .col-25 {
            float: left;
            width: 35%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 65%;
            margin-top: 6px;
        }
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .heading{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>

    <center><img src="img/centennialcollege.png" alt="mongodb"></center>
    <div class="container">
        <div class="row heading"><h1><b>Sign Up as a Student</b></h1></div>
        <form method="post">
            <div class="row">
                <div class="col-25">
                    <label>First Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" size="30" placeholder="Enter your first name" name="firstName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Last Name:</label>
                </div>
                <div class="col-75">
                    <input type="text" size="30" placeholder="Enter your last name" name="lastName">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Email:</label>
                </div>
                <div class="col-75">
                    <input type="text" size="30" placeholder="Enter your emailId" name="email">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Password:</label>
                </div>
                <div class="col-75">
                    <input type="password" size="30" placeholder="Enter your password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Number of Languages: </label>
                </div>
                <div class="col-75">
                    <input type="text" size="30" placeholder="Enter number of languages known" name="numberOfLanguages">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Favourite Language:</label>
                </div>
                <div class="col-75">
                    <input type="text" size="30" placeholder="Enter your favourite programming language" name="programmingLanguage">
                </div>
            </div>
            <br/>
            <div class="row">
                <input type="submit" value="SignUp" >
            </div>
        </form>
    </div>
</body>
</html>
