<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Thank You Page</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        
        
        .container {
          padding: 20px;
          width: 450px;
          float: center;
          margin: 0 auto;
        }
    </style>
</head>
<body>
  <center><img src="img/centennialcollege.png" alt="mongodb"></center>
    <div class="container">
        <h3><b>Thank You <%= email %></b></h3>
        <p>We appriciate your comments.</p>
        <a href="http://localhost:3000"> Main Page</a>
    </div>
</body>
</html>